.header {
    background-color: #2F3136;
    height: 150px;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;

   
    height: 40px;
    width: 100%;
    border: 10px 10px white;
}

.logoPoke {
    height: 40px;
    width: 140px;
}

.formImput {
    display: flex;
}



.pai {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    height: 450px;
    width: 100%;
    background-color: #36393F;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
 }
.pokeFotoDiv {
    height: 400px;
    width: 400px;
    background-color: #2F3136;
    margin: auto;
    border-radius: 100%;
}
.pokeFoto {
    height: 420px;
    width: 420px;
}

.pokeStats {
    height: 300px;
    width: 550px;
    background-color: #52545881;
    margin: auto;
    border-radius: 25px;
    box-shadow: 7px 5px 24px black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.pokesName {
    display: flex;
    font-family: Poppins;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 2.5rem;
    color: white;
    margin: 20px 10px 10px 10px;
}

.atributes {
    text-transform: uppercase;
    font-size: 18px;
    display: inline-block;
    padding: 2px 13px;
    margin-top: 2px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: #00A879   ;
    font-family: Poppins;
    color: white;
    text-shadow: rgb(0 0 0 / 40%) 1px 1px 2px;
}

.atributesTitle {
    margin: auto;
    font-family: Poppins;
    color: #727478;
    font-size: 14px;
    font-weight: 700;

}

.abilities {
    text-transform: uppercase;
    font-size: 18px;
    display: inline-block;
    padding: 2px 13px;
    margin-top: 2px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: #DB286E   ;
    font-family: Poppins;
    color: white;
    text-shadow: rgb(0 0 0 / 40%) 1px 1px 2px;
}

.pokeTitulo {
    font-size: 34px;
    color: white;
    font-family: Poppins;
    text-transform: uppercase;
    line-height: 2.5rem;
    font-weight: 700;

}

.botao {
    border: none;
    border-radius: 0px 5px 5px 0px;
    height: 42px;
    width: 50px;
    color: white;
    background-color: #3F59F2;
}

.pokePesquisa {
    width: 600px;
}

.input {
    border-radius: 5px 0px 0px 5px;
    width: 90%;
    border: 2px white;
}

.rowInfo {
    margin: 10px;
}

.divRodape {
    background-color: #2F3136;
    height: 50px;
    display: flex;
}

.textRodape {
    color: white;
    font-family: Poppins;
    line-height: 2.5rem;
}